:root {
    --bg-white: #edf1f4;
    --white: #fff;
    --rgba-dark: rgba(0, 0, 0, 0.1);
    --calc-shadow-white-after: rgba(255, 255, 255.073);
    --calc-shadow-white: 15px 15px 20px var(--rgba-dark),
        -15px -15px 20px var(--calc-shadow-white-after);
    --value-blue: #5166d6;
    --value-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),
        inset -5px -5px 20px var(--white);
    --span-color: #666;
    --span-border: #edf1f4;
    --id-shadows: 5px 5px 10px var(--rgba-dark), -5px -5px 10px var(--white),
        inset 5px 5px 10px var(--rgba-dark);
    --dark-color: #282c2f;
    --dark-background: #33393e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: consolas;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-white);
}

.calculator {
    position: relative;
    width: 340px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--calc-shadow-white);

    .buttons {
        position: relative;
        display: grid;

        #value {
            position: relative;
            grid-column: span 4;
            user-select: none;
            overflow: none;
            width: 100%;
            text-align: end;
            color: var(--value-blue);
            height: 100px;
            line-height: 100px;
            box-shadow: var(--value-shadow);
            border-radius: 10px;
            margin-bottom: 12px;
            padding: 0 20px;
            font-size: 2em;
            font-weight: 500;
        }

        span {
            position: relative;
            padding: 10px;
            margin: 10px;
            cursor: pointer;
            user-select: none;
            box-shadow: 5px 5px 10px var(--rgba-dark), -5px -5px 20px var(--white);
            min-width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
            color: var(--span-color);
            border: 2px solid var(--span-border);
            border-radius: 10px;

            &:active {
                box-shadow: var(--value-shadow);
                color: #f44336;
            }

            &#clear {
                background: #f44336;
                color: var(--white);
                grid-column: span 2;
                border: 2px solid var(--span-border);

                &:active {
                    box-shadow: var(--id-shadow);
                }
            }

            &#plus {
                background: #31a935;
                color: var(--white);
                grid-row: span 2;
                border: 2px solid var(--span-border);

                &:active {
                    box-shadow: var(--id-shadow);
                }
            }

            &#equal {
                background: #2196f3;
                color: var(--white);
                grid-column: span 2;
                border: 2px solid var(--span-border);

                &:active {
                    box-shadow: var(--id-shadow);
                }
            }
        }
    }
}

.toggleBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    background: #555;
    cursor: pointer;
    border: 2px solid var(--span-border);
    box-shadow: 5px 5px 10px var(--rgba-dark), -5px -5px 10px var(--white);
}

.dark .toggleBtn {
    background: #edf1fa;
    border: 2px solid #333;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
        -5px -5px 10px rgba(255, 255, 255, 0.25);
}

@media (prefers-color-scheme: light) {
    body {
        background: var(--bg-white);

        .calculator {
            position: relative;
            width: 340px;
            padding: 20px;
            border-radius: 20px;
            box-shadow: var(--calc-shadow-white);

            .buttons {
                position: relative;
                display: grid;

                #value {
                    position: relative;
                    grid-column: span 4;
                    user-select: none;
                    overflow: none;
                    width: 100%;
                    text-align: end;
                    color: var(--value-blue);
                    height: 100px;
                    line-height: 100px;
                    box-shadow: var(--value-shadow);
                    border-radius: 10px;
                    margin-bottom: 12px;
                    padding: 0 20px;
                    font-size: 2em;
                    font-weight: 500;
                }

                span {
                    position: relative;
                    padding: 10px;
                    margin: 10px;
                    cursor: pointer;
                    user-select: none;
                    box-shadow: 5px 5px 10px var(--rgba-dark), -5px -5px 20px var(--white);
                    min-width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.2em;
                    color: var(--span-color);
                    border: 2px solid var(--span-border);
                    border-radius: 10px;

                    &:active {
                        box-shadow: var(--value-shadow);
                        color: #f44336;
                    }

                    &#clear {
                        background: #f44336;
                        color: var(--white);
                        grid-column: span 2;
                        border: 2px solid var(--span-border);

                        &:active {
                            box-shadow: var(--id-shadow);
                        }
                    }

                    &#plus {
                        background: #31a935;
                        color: var(--white);
                        grid-row: span 2;
                        border: 2px solid var(--span-border);

                        &:active {
                            box-shadow: var(--id-shadow);
                        }
                    }

                    &#equal {
                        background: #2196f3;
                        color: var(--white);
                        grid-column: span 2;
                        border: 2px solid var(--span-border);

                        &:active {
                            box-shadow: var(--id-shadow);
                        }
                    }
                }
            }
        }

        .toggleBtn {
            position: fixed;
            top: 20px;
            right: 20px;
            border-radius: 50px;
            width: 20px;
            height: 20px;
            background: #555;
            cursor: pointer;
            border: 2px solid var(--span-border);
            box-shadow: 5px 5px 10px var(--rgba-dark), -5px -5px 10px var(--white);
        }
    }
}

body.dark {
    background: var(--dark-color);

    .calculator {
        background: var(--dark-background);
        box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.25),
            -15px -15px 20px rgba(255, 255, 255, 0.1);

        .buttons {
            #value {
                background: var(--dark-background);
                box-shadow: inset 15px 15px 20px rgba(0, 0, 0, 0.5),
                    inset -15px -15px 20px rgba(255, 255, 255, 0.1);
                color: #eee;
            }

            span {
                color: #eee;
                border: 2px solid #333;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
                    -5px -5px 10px rgba(0, 0, 0, 0.1);

                &:active {
                    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.25),
                        inset -5px -5px 10px rgba(255, 255, 255, 0.1);
                }

                &#clear {
                    border: 2px solid #333;

                    &:active {
                        box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
                    }
                }

                &#plus {
                    border: 2px solid #333;

                    &:active {
                        box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
                    }
                }

                &#equal {
                    border: 2px solid #333;

                    &:active {
                        box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }

    .toggleBtn {
        background: #edf1fa;
        border: 2px solid #333;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
            -5px -5px 10px rgba(255, 255, 255, 0.25);
    }
}